<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="console card" id="add-place">
	    <div class="card-header">
	        맛집 추가
	    </div>
	    <div class="card-body">
	        <!-- <form onsubmit="searchPlaces(); return false;"> -->
	        <form onsubmit="searchPlaces(); false;">
	            키워드 : <input type="text" value="이태원 맛집" id="keyword" size="15">
	            <button class="btn" style="background-color: tomato; color: white;" type="submit"><i class="fa fa-search"></i></button>
	        </form>
	    </div>
	</div>
	</body>
</html>